.gpt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gpt-form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.gpt-input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.gpt-input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;;
}
.news-img {
  max-width: 280px;
}
.news-content {
  max-width: 560px;
}
.result {
  font-weight: bold;
  text-align: left;
}
